// -------- color ---------
$primary: rgb(244, 224, 65);
$background: #f8f8f8;
$black-87: rgba(0, 0, 0, 0.87);
$secondary: #00bdd3;
$white: #fff;
$color-placeholder: #7e7e7e;

// -------- size ---------
$tablet: 1024px;
$mobile: 768px;
$small-mobile: 368px;

// -------- other ---------
// $container-width: 90%;

$duration: 0.15s;