@import "./shared/variables.scss";
@import "./shared/mixins.scss";
@import "./button.scss";

// -------- Font-family ---------
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
$font-family: "Nunito";
$second-family: "Asap";
// -------- End of Font-family ---------

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: $font-family;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $black-87;
  // background-color: $background;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: $black-87;
}

h1 {
  font-weight: 400;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
  font-family: $font-family, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
}

a {
  text-decoration: none;
}

.body {
  font-family: $font-family;
  // background: $background;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: $black-87;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: $tablet) {
    padding: 0;
  }
  // $tablet: 1024px;
  // $mobile: 768px;
  // $small-mobile: 360px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: $tablet) {
    width: calc(100vw - 120px);
  }
  @media (max-width: $mobile) {
    width: calc(100vw - 64px);
  }
  @media (max-width: $small-mobile) {
    width: calc(100vw - 32px);
  }
}

.title {
  text-align: center;
  margin-bottom: 51px;
  font-family: $font-family, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
}
section {
  margin-top: 140px;
}
